<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      label="Nome"
      labelPlacement="floating"
      [(ngModel)]="contato.name">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Email"
      labelPlacement="floating"
      [(ngModel)]="contato.email">
    </ion-input>
  </ion-item>

  <ion-button
    expand="block"
    class="ion-margin-top"
    (click)="adicionarContato()">
    Salvar Contato
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-center">
      <ion-button routerLink="/listar-contatos">
        <ion-icon name="list-outline" slot="start"></ion-icon>
        Listar
      </ion-button>
      <ion-button routerLink="/adicionar-contato">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Adicionar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
